html,
body {
  height: 100%;
}

body {
  margin: 0;
}

#logo path {
  stroke: #000;
}

@media (prefers-color-scheme: dark) {
  #logo path {
    stroke: #FFF;
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 300;
    /* Start with a larger dash offset to hide the entire path */
  }

  to {
    stroke-dashoffset: 0;
    /* Fully reveal the path */
  }
}

#animatedCurve {
  stroke-dasharray: 300;
  /* Total length of the path */
  stroke-dashoffset: 100;
  /* Initial dash offset, hides the entire path */
  animation: draw 10s cubic-bezier(0.22, 0.61, 0.36, 1) forwards infinite;
  /* Animate the drawing using the 'draw' animation */
  opacity: 0.7;
}

#return-home:active #animatedCurve,
#return-home:focus #animatedCurve,
#return-home:hover #animatedCurve {
  opacity: 1;
  fill: burlywood;
  overflow: hidden;
}

header {
  position: relative;
}

#return-home {
  background-color: hsl(0, 0%, 12.5%);
  position: absolute;
  left: 10px;
  top: 50%;
  translate: 0% -50%;
  font-size: initial;
  padding: 0.5rem;
  max-width: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
}

#return-home:active,
#return-home:focus,
#return-home:hover,
#return-home::before,
#return-home:active::after,
#return-home:focus::after,
#return-home:hover::after {
  transition: all 1s ease;
}

#return-home,
#return-home::before,
#return-home::after {
  transition: none;
}

#return-home:active::before,
#return-home:focus::before,
#return-home:hover::before {
  content: url('data:image/svg+xml,<svg width="33" height="20" viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32.337 0.435944C32.2976 0.986607 31.9441 1.51927 31.6911 1.99423C31.2934 2.74073 30.7691 3.43677 30.224 4.08075C29.1885 5.3043 27.7831 6.21569 26.4496 7.07727C24.8297 8.12383 23.0617 8.88969 21.2753 9.60319C18.1082 10.8681 14.8801 11.9592 11.5606 12.7462C9.91905 13.1353 8.27009 13.4903 6.60721 13.7762C6.31636 13.8262 5.75095 13.817 5.49792 14.0067" stroke="hsl(0, 0%, 70%)" stroke-width="2" stroke-linecap="round"/><path d="M9.8219 8.82831C9.76167 8.82831 9.70909 8.82982 9.64797 8.84073C9.37485 8.8895 9.30796 8.92461 8.98205 9.06685C8.16163 9.4249 7.36112 9.831 6.56933 10.2471C5.27685 10.9264 3.93868 11.6198 2.79495 12.5406C2.08746 13.1102 1.3768 13.8754 1.08543 14.757C0.963391 15.1262 0.957287 15.5189 1.16494 15.8577C1.70906 16.7455 2.83129 17.3043 3.71184 17.7785C4.95663 18.4488 6.23187 18.9142 7.58561 19.2942" stroke="hsl(0, 0%, 70%)" stroke-width="2" stroke-linecap="round"/></svg>');
  position: relative;
  top: 5px;
}

#return-home::before{
  padding-right: 1rem;
  vertical-align: 40%;
}
#return-home::after {
  padding: 0 1rem;
  vertical-align: 40%;
}

#return-home:active,
#return-home:focus,
#return-home:hover {
  width: fit-content;
  max-width: 200px;
  border-radius: 0 20px 20px 0px;
}

#return-home:active::after,
#return-home:focus::after,
#return-home:hover::after {
  content: 'Return Home';
  white-space: pre;
  color: hsl(0, 0%, 70%);
}

#return-home svg {
  height: 30px;
}

header,
#cohort-selection {
  text-align: center;
  background-color: #404040;
  color: white;
}

header,
#cohort-selection,
h1 {
  font-size: 3.5rem;
  margin: 0;
  padding: 1.5rem;
}

h1>span {
  color: #ababab;
}

header label,
header select {
  font-size: 1rem;
  padding: .5rem 2rem;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 3.5rem;
  }

  header label,
  #cohort-selection {
    font-size: 1.5rem;
  }
}

.hidden.cohort-final-projects {
  display: none;
  padding: 0;
}

.cohort-final-projects:not(.hidden) {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.cohort-final-projects>li {
  padding: 1rem;
}

.cohort-final-projects a {
  padding: inherit;
  color: white;
}

.cohort-final-projects a:hover {
  background-color: black;
}

#renderWindow {
  width: 100%;
  height: 100%;
  border: none;
  background-color: black;
}

#scroll-to-top {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: rgba(28, 28, 28, 0.5);
  padding: 0.5rem;
  color: white;
}